* {
  box-sizing: border-box; }

body {
  background-color: #001d8a;
  margin: 0;
  font-family: "Open Sans", sans-serif; }

header, section {
  width: 100%; }

header {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  color: #fff;
  padding: 20px 0;
  z-index: 10; }
  header #main-logo {
    display: inline-block;
    float: left;
    margin-left: 30px; }
    header #main-logo h1 {
      display: inline-block;
      margin: 0; }
    header #main-logo .fa {
      font-size: 2em;
      float: left;
      margin-right: 10px;
      color: #ecd407;
      line-height: 43px; }
  header .header-contact {
    display: inline-block;
    float: right;
    width: 300px; }
    header .header-contact .fa {
      font-size: 2em;
      float: left;
      margin-right: 10px;
      line-height: 45px; }
    header .header-contact span {
      display: block; }
      header .header-contact span.call {
        font-size: 0.8em; }
      header .header-contact span.phone {
        font-size: 1.2em; }
